<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="You can explore for the best restaurant in Restfind that will become your go-to place for when you want to eat out">
  <meta name="theme-color" content="#431407" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/images/icons/logo-192.png">
  <title>Restfind</title>
</head>

<body>

  <button id="skip-navigation-btn" class="skip-navigation">Skip to content</button>

  <header id="navbar" class="navbar visible">
    <a href="/" class="brand__name">
      <img src="/restfind.png" alt="Restfind" width="118" height="29" />
    </a>
    <button id="navbar__btn" class="navbar__btn" title="Navbar menu">
      <i class="ph-bold ph-list navbar__btn-icon"></i>
      <span class="sr-only">Navbar menu</span>
    </button>
    <nav id="navbar__nav" class="navbar__nav">
      <ul class="navbar__nav-links">
        <li><a href="/" class="navbar__nav-link">Home</a></li>
        <li><a href="#/restaurants" class="navbar__nav-link">Restaurants</a></li>
        <li><a href="#/favorite" class="navbar__nav-link">Favorite</a></li>
        <li><a href="https://irhmdhn.vercel.app" target="_blank" class="navbar__nav-link">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="main-wrapper" class="wrapper"></main>

  <footer>
    <div class="footer__content">
      <a href="/" class="brand__name">
        <img src="/restfind.png" alt="Restfind" />
      </a>
      <p>Copyright &copy; 2024 - Restfind</p>
    </div>
  </footer>

</body>

</html>