<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restfind</title>
</head>

<body>

  <a href="#services" class="skip-link">Skip to content</a>

  <header id="navbar" class="navbar">
    <span class="navbar__brand-name brand-name">Restfind</span>
    <button id="navbar__btn" class="navbar__btn" title="Navbar menu">
      <i class="ph-bold ph-list navbar__btn-icon"></i>
      <span class="sr-only">Navbar menu</span>
    </button>
    <nav id="navbar__nav" class="navbar__nav">
      <ul class="navbar__nav-links">
        <li><a href="/" class="navbar__nav-link active">Home</a></li>
        <li><a href="#" class="navbar__nav-link">Favorite</a></li>
        <li><a href="https://irhmdhn.vercel.app" target="_blank" class="navbar__nav-link">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="main-wrapper" class="wrapper">
    <section class="hero">
      <div class="hero__content">
        <h1 class="hero__title">Explore The Best <br> Restaurant For You</h1>
        <p class="hero__desc">Seek out a few restaurant that will become your go-to place for when you want to eat out
        </p>
        <a href="#content" class="btn btn-primary btn-glow">Find now</a>
      </div>
    </section>
    <section class="main-content">
      <div id="services" class="services">
        <h2 class="services__title">Our Services</h2>
        <div class="services__content">
          <div class="service">
            <i class="ph-bold ph-bowl-food"></i>
            <div class="service__body">
              <h4>Variety Choices</h4>
              <p>We got restaurants covering many cuisines.</p>
            </div>
          </div>
          <div class="service">
            <i class="ph-bold ph-fork-knife"></i>
            <div class="service__body">
              <h4>Restos</h4>
              <p>Find the best place to eat.</p>
            </div>
          </div>
          <div class="service">
            <i class="ph-bold ph-heart"></i>
            <div class="service__body">
              <h4>My choice</h4>
              <p>Choose and add to your favorite list.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="content">
        <div class="content__resto">
          <h2 class="content__title">Find Restaurant</h2>
          <div id="content__resto__cards" class="content__resto__cards"></div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer__content">
      <span class="footer__brand-name brand-name">Restfind</span>
      <p>Copyright &copy; 2024 - <a href="/" class="link">Restfind</a></p>
    </div>
  </footer>

</body>

</html>