// COLORS
$primary: #FB923C;
$accPrimary: #f97316;
$light: #F5E9D9;
$dark: #431407;
$white: #F5F5F5;
$lightGray: #e5e5e5;
$gray: #737373;
$black: #171717;



// SIZE
$size-sm: 0.75rem;
$size-md: 0.875rem;
$size-base: 1rem;
$size-lg: 1.25rem;
$size-xl: 1.5rem;
$size-2xl: 2rem;
$size-3xl: 2.25rem;
$size-4xl: 3rem;

$c-size-sm: 12px;
$c-size-md: 14px;
$c-size-base: 16px;
$c-size-lg: 20px;
$c-size-xl: 24px;
$c-size-2xl: 32px;
$c-size-3xl: 36px;
$c-size-4xl: 48px;