// COLORS
$primary: #FB923C;
$accPrimary: #f97316;
$light: #FED7AA;
$dark: #431407;
$white: #F5F5F5;
$gray: #737373;
$black: #171717;



// SIZE
$size-sm: 0.75rem;
$size-md: 0.875rem;
$size-base: 1rem;
$size-lg: 1.25rem;
$size-xl: 1.5rem;
$size-2xl: 2rem;
$size-3xl: 2.25rem;
$size-4xl: 3rem;